<aside
  id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen pt-2 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dar:bg-gray-800 dar:border-gray-700"
  aria-label="Sidebar"
>
  <div class="h-full px-3 pb-4 overflow-y-auto bg-white dar:bg-gray-800">
    <ul class="space-y-2 font-medium my-10">
      <li>
        <a
          class="flex items-center p-2 text-gray-900 rounded-lg dar:text-white hover:bg-gray-100 dar:hover:bg-gray-700 group"
        >
          <h1 class="ms-3">DASHBOARD</h1>
        </a>
      </li>
      <hR />


      <li>
        <a
          routerLink="/home"
          class="flex items-center p-2 text-gray-900 rounded-lg dar:text-white hover:bg-gray-100 dar:hover:bg-gray-700 group"
        >
          <i class="fa-solid fa-home"></i>
          <span class="ms-3">Home</span>
        </a>
        @if (!isCollector()) {  
        <a
          routerLink="/profile"
          class="flex items-center p-2 text-gray-900 rounded-lg dar:text-white hover:bg-gray-100 dar:hover:bg-gray-700 group"
        >
          <i class="fa-solid fa-table-columns"></i>
          <span class="ms-3">profile</span>
        </a>


        <a
          routerLink="/collection-request"
          class="flex items-center p-2 text-gray-900 rounded-lg dar:text-white hover:bg-gray-100 dar:hover:bg-gray-700 group"
        >
          <i class="fa-solid fa-user"></i>
          <span class="ms-3">Collection Request</span>
        </a>
      }@else{
        <a
          routerLink="/collector"
          class="flex items-center p-2 text-gray-900 rounded-lg dar:text-white hover:bg-gray-100 dar:hover:bg-gray-700 group"
        >
          <i class="fa-solid fa-user"></i>
          <span class="ms-3">Collector</span>
        </a>
        }
      </li>

      <li>
        <button
          (click)="logOut()"
          class="flex w-full text-left items-center p-2 text-gray-900 rounded-lg dar:text-white hover:bg-gray-100 dar:hover:bg-gray-700 group"
        >
          <i class="fa-solid fa-right-from-bracket"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Sign Out</span>
        </button>
      </li>
    </ul>
  </div>
</aside>
